@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import "tailwindcss";
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(135, 134, 134);
  border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgb(17, 17, 17);
}

@theme {
  --font-dynapuff: "DynaPuff", sans-serif; 
}